@font-face{
    font-family:"Netflix Sans";
    src: url('resources/fonts/NetflixSans_W_Rg.woff2') format("woff2");
}

body{
    background-color: #f3f3f3;
    color: #333;
    font-size: 16px;
    margin: 0px;
    padding:0;
    border:0;
    height:100%;
    width:100%;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.our-story-container{
    width:100%;
    height:auto;
    background-color: #000;
    
}
.our-story-cards {
    margin: 0 auto;
}
/* .our-story-card{

    border-bottom: 8px solid #222;
} */
.only-desktop{
    display: none;
}
.only-mobile{
    display: block;
}
/* -----------------------------------------------------header wrapper------------------------------------------------------------------ */
.our-story-header-wrapper{
    background-color: transparent;
    transition: background-color .5s;
    position:relative;
    z-index:9;
    margin: 0 auto;
    max-width: 1920px;
    padding-top: 20px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5rem;
}
@media only screen and (max-width: 949px) and (min-width: 550px), only screen and (max-width: 549px) and (min-width: 400px), only screen and (max-width: 399px) and (min-width: 350px), only screen and (max-width: 349px){
    .our-story-header-wrapper {
        height: 45px;
    }
}
@media only screen and (max-width: 1449px) and (min-width: 950px){
    .our-story-header-wrapper {
        height: 4rem;
    }
}

/* ------------------------------------------------------header---------------------------------------------------------------------- */
.our-story-header{
    display: block;
}
@media only screen and (max-width: 949px) and (min-width: 550px){
    .our-story-header {
        margin: 0 45px;
    }
}
@media only screen and (min-width: 950px){
    .our-story-header {
        margin: 0 56px;
    }
}
@media only screen and (max-width: 549px) and (min-width: 400px), only screen and (max-width: 399px) and (min-width: 350px), only screen and (max-width: 349px){
    .our-story-header {
    margin: 0 5%;
    }
}
/* -------------------------------------------------------netflix logo-------------------------------------------------------------- */
.netflix-logo{
    padding-top:8px;
    float:left;
}
@media only screen and (min-width:1450px){
    .netflix-logo {
        height: 45px;
        width: 166.5px;
    }
    .netflix-logo img{
        max-height: 100%;
        width: 100%;
        object-fit: contain; 
    }
}
@media only screen and (max-width: 1449px) and (min-width: 950px){
    .netflix-logo {
        height: 36px;
        width: 134px;
    }
    .netflix-logo img{
        max-height: 100%;
        width: 100%;
        object-fit: contain; 
    }
}
@media only screen and (max-width: 949px) and (min-width: 550px){
    .netflix-logo {
        height: 32px;
        width: 108px;
    }
    .netflix-logo img{
        max-height: 100%;
        width: 100%;
        object-fit: contain; 
    }

}

@media only screen and (max-width: 549px) and (min-width: 400px), only screen and (max-width: 399px) and (min-width: 350px), only screen and (max-width: 349px){
    .netflix-logo {
        height: 24px;
        width: 30%;
    }
    .netflix-logo img{
        max-height: 100%;
        max-width: 100%;
        object-fit: contain; 
    }
}
/* -------------------------------------------------------Sign In button----------------------------------------------------------------- */
.redButton{
    background-color: #e50914;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    float: right;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
    margin-top: .5rem;
    cursor: pointer;
}
@media only screen and (max-width: 549px) and (min-width: 400px), only screen and (max-width: 399px) and (min-width: 350px), only screen and (max-width: 349px){
    .redButton {
        font-size: .9rem;
        margin-top: .35rem;
        padding: .25rem .5rem;
    }
}
/* ------------------------------------------------our story background------------------------------------------------------------ */
.our-story-card-background {
    z-index: 0;
    position: absolute;
    top: -70px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
@media only screen and (max-width: 1449px) and (min-width: 950px), only screen and (min-width: 1450px){
    .our-story-card-background {
        top: -100px;
    }
}
/* ---------------------------------------------background cover image------------------------------------------------------------ */
.concord-img-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index:1;
    width: auto;
    object-fit: cover;
    overflow:hidden;
}
.concord-img{
    object-fit: cover;
    width:100%;
    height:100%;
}
.concord-img-gradient{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,.4);
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
}
@media only screen and (max-width: 399px) and (min-width: 350px), only screen and (max-width: 349px){
    .concord-img-wrapper{
        height:523px;
    }
}
@media only screen and (max-width: 549px) and (min-width: 400px){
    .concord-img-wrapper{
        height: 530px;
    }
}
@media only screen and (max-width: 588px) and (min-width: 550px){
    .concord-img-wrapper{
        height: 785px;
    }
}
@media only screen and (max-width: 722px) and (min-width: 589px){
    .concord-img-wrapper{
        height: 730px;
    }
}
@media only screen and (max-width: 931px) and (min-width: 723px){
    .concord-img-wrapper{
        height: 754px;
    }
}
@media only screen and (max-width: 1430px) and (min-width: 932px){
    .concord-img-wrapper{
        height: 705.594px;
    }
}
@media only screen and (min-width: 1431px){
    .concord-img-wrapper{
        height: 745.594px;
    }
}

/* -----------------------------------------------------our story card---------------------------------------------------------- */
.our-story-card{
    position: relative;
    border-bottom: 8px solid #222;
    padding: 50px 5%;
    margin-bottom: 0;
    background: 0 0;
    color: #fff;
}
/* @media only screen and (max-width: 949px) and (min-width: 550px), only screen and (max-width: 1449px) and (min-width: 950px), only screen and (min-width: 1450px){
    .our-story-card {
        padding: 70px 45px;
    }
} */

/* ---------------------------------------------------our story card text------------------------------------------------------- */
.our-story-card-text{
    position: relative;
    width: 100%;
    padding: 75px 0;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
    color: #fff;
}
@media only screen and (max-width: 549px) and (min-width: 400px){
    .our-story-card-text{
        padding: 30px 0;
    }
} 
@media only screen and (max-width: 399px) and (min-width: 350px){
    .our-story-card-text {
        padding: 15px 0;
    }
}

@media only screen and (max-width: 349px){
    .our-story-card-text {
        padding: 0;
    }
}

/* -----------------------------------------------------our story card title----------------------------------------------------------- */
.our-story-card-title{
    line-height: 1.1;
    margin: 0 auto;
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: .5rem;
}
.hero-card h1,.hero-card h2{
    max-width: 640px;
}
@media only screen and (min-width: 1450px){
    .hero-card .our-story-card-title {
        font-size: 4rem;
    }
}
@media only screen and (max-width:1449px) and (min-width:950px){
    .hero-card .our-story-card-title {
        font-size: 3.125rem;
    }
}
@media only screen and (max-width: 949px) and (min-width: 550px){
    .hero-card .our-story-card-title {
        font-size: 3.125rem;
    }
    .our-story-card-title{
        font-size: 2.5rem;
    }
}
@media only screen and (max-width: 550px){
    .hero-card .our-story-card-title {
        font-size: 1.75rem;
    }
}
/* -------------------------------------------------------our story card subtitle----------------------------------------------------------- */
.our-story-card-subtitle{
    max-width: 640px;
    margin: 1rem auto;
    font-weight: 400;
}
@media only screen and (max-width: 1449px) and (min-width: 950px), only screen and (min-width: 1450px){
    .our-story-card-subtitle, .our-story-card-text {
        font-size: 1.625rem;
    }
}
@media only screen and (max-width: 949px) and (min-width: 550px){
    .our-story-card-subtitle, .our-story-card-text {
        font-size: 1.625rem;
    }
    .our-story-card-subtitle{
        font-size: 1.25rem;
    }
}
@media only screen and (max-width: 549px) and (min-width: 400px), only screen and (max-width: 399px) and (min-width: 350px), only screen and (max-width: 349px){
    .our-story-card-subtitle,.our-story-card-text{
        font-size: 1.125rem;
    }
    .our-story-card-subtitle{
        width:inherit;
    }
}
h1{
    margin: 0 0 .4em;
}
@media screen and (min-width: 740px){
    h1 {
    font-size: 38px;
    }  
}
h2{
    font-size:20px;
    display: block;
    /* font-size: 1.5em; */
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
@media screen and (min-width: 740px){
    h2 {
        font-size: 27px;
    }
}
/* ---------------------------------------------------------email form---------------------------------------------------------------- */
form {
    margin-top: 0em;
}
@media only screen and (max-width: 1449px) and (min-width: 950px), only screen and (min-width: 1450px){
    .email-form {
        max-width: 950px;
        padding-top: .85rem;
    }
}
.email-form-title {
    padding: 0 5%;
    max-width: 450px;
    margin: 0 auto;
    font-weight: 400;
    color: #fff;
}
@media only screen and (max-width: 549px) and (min-width: 400px), only screen and (max-width: 949px) and (min-width: 550px){
    .email-form-title {
        padding: 0 10%;
    }
}
h3 {
    font-size: 18px;
}
@media screen and (min-width: 740px){
    h3 {
        font-size: 23px;
    }
}
@media only screen and (max-width: 1449px) and (min-width: 950px), only screen and (min-width: 1450px){
    .email-form-title {
        max-width: none;
        padding: 0;
        font-size: 1.2rem;
    }
}

.nfTextField {
    height: 48px;
    padding-left: 10px;
    padding-right:10px;
    /* width: 100%; */
    box-sizing: border-box;
    font-size: 16px;
    border: solid 1px #8c8c8c;
    border-radius: 2px;
    display: block;
    color: #000;
    font-family: inherit;
    display: inline-block;
    /* float:left; */
}
.nfTextField::placeholder {
    color: #8c8c8c;
}
@media screen and (min-width: 740px){
    .nfTextField {
        height: 60px;
    }
    .nfTextField::placeholder {
        font-size: 16px;
    }
}
.btn-red{ 
    background-color: #e50914;
    cursor: pointer;
    letter-spacing: .1px;
    box-sizing: border-box;
    border:none;
    display:inline-block;
    
}
.btn-txt,.btn-arrow{
    color:#fff;
}
.btn-red.hover, .btn-red:focus, .btn-red:hover {
    background: #f40612;
    box-shadow: 0 1px 0 rgba(0,0,0,.45);
}
@media only screen and (min-width: 1450px){
    input {
        min-width: 500px;
        height: 70px !important;
    }    
    .btn-red {       
        min-height: 70px;
        /* float:left; */
        float: right;
    }
    .btn-txt,.btn-arrow{
        text-align: center;
        font-size: 1.875rem;
        color: #fff;
        font-weight: 400;
    }
}
.btn-arrow{
    height: .75em;
    width: .35em;
    flex: 0 1 auto;
    /* margin: 0 0 0 .5em; */
    position: relative;
}
.btn-txt,.btn-arrow{
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

@media only screen and (max-width: 1449px) and (min-width: 950px){
    input {
        width: 450px;
        height: 60px;
    }
    .btn-red{
        height: 60px;
        padding:0px 26px;
        float: right;
    }
    .btn-txt,.btn-arrow{
        font-size: 1.625rem;
    }
}
@media only screen and (max-width: 1449px) and (min-width: 950px), only screen and (min-width: 1450px){
    .btn-txt {
        padding: .5rem 0;
    }
}
@media only screen and (min-width: 1450px){
    .btn-txt,.btn-arrow {
        font-size: 1.875rem;
    }
    .btn-red{
        min-height: 70px;
        padding: 0 30px;
        /* margin-left:-5px; */
    }
}
@media only screen and (min-width:950px){
    .email-form{
        display:table;
        margin:0 auto;
        border-spacing: 10px;
    }
    .email-btn-container{
        display: table-header-group;
    }
    .email-form-title{
        display: table-row-group;
    }
}
@media only screen and (max-width: 949px) and (min-width: 550px){
    .email-btn-container{
        display:block;
        margin:0 auto;
    }
    input{
        display:block;
        min-width:500px;
        margin-top:16px;
    }
    .btn-red{
        display:block;
        margin:0 auto;
        font-size: 1rem;
        min-height: 40px;
        margin-top:16px;
    }
}
@media only screen and (max-width: 549px) and (min-width: 400px){
    .email-btn-container{
        display:block;
        margin:0 auto;
    }
    input{
        display:block;
        width:100%;
        height:48px;
        margin-top:16px;
    }
    .btn-red{
        display:block;
        margin:0 auto;
        font-size: 1rem;
        min-height: 40px;
        margin-top:16px;
    }
}
@media only screen and (max-width: 399px) and (min-width: 350px), only screen and (max-width: 349px){
    .email-btn-container{
        display:block;
        margin:0 auto;
    }
    input{
        display:block;
        width:100%;
        height:48px;
        margin-top:16px;
    }
    .btn-red{
        display:block;
        margin:0 auto;
        font-size: 1rem;
        min-height: 40px;
        margin-top:16px;
    }

}
/* ---------------------------------------------------second page starts------------------------------------------------------------------ */
@media only screen and (max-width: 949px) and (min-width: 550px), only screen and (max-width: 1449px) and (min-width: 950px), only screen and (min-width: 1450px){
    .watchOnTv,.downloadAndWatched{
        height:auto;
        display:block;
        font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    }
    
}
.watchOnTv{
    margin:0 auto;
    text-align: center;
}
.downloadAndWatched{
    text-align: center;
    margin:0 auto;
}
.watchOnDevice{
    margin:0 auto;
    text-align: center;
}
.animation-card-container{
    max-width: 1100px;
    display: inline-block;
}
.animation-card{
    margin: 0 auto;
}
/* .animation-card .animation-card-container{
    display:inline-block;
    background-color: #000;
} */
.watchOnTv .text-container{
    width:52%;
    height:100%;
    text-align: left;
    display:block;
    float:left;
}
.watchOnTv .our-story-card-img-container{
    width:48%;
    height: 100%;
    display: block;
    float:right;
}
.downloadAndWatched .our-story-card-img-container{
    width:48%;
    height: 100%;
    display: block;
    float:left;
}
.downloadAndWatched .text-container{
    width:52%;
    height:100%;
    text-align: left;
    display:block;
    float:right;
}
.watchOnDevice .text-container{
    width:52%;
    height:100%;
    text-align: left;
    display:block;
    float:left;
}
.watchOnDevice .our-story-card-img-container{
    width:48%;
    height: 100%;
    display: block;
    float:right;
}
.our-story-card-img{
    position: relative;
    z-index: 2;
}
img{
    max-width: 100%;
    height: auto;
    border: 0;
}
.our-story-card-animation {
    width: 100%;
    height: 100%;
    max-width: 5%;
    max-height: 30%;
    position: absolute;
    top: 26%;
    /* left: 50%; */
    transform: translate(50%,0%);
}
video{
    object-fit:contain;
}
@media only screen and (max-width: 949px) and (min-width: 550px), only screen and (max-width: 549px) and (min-width: 400px), only screen and (max-width: 399px) and (min-width: 350px), only screen and (max-width: 349px){
    .animation-card-container{
        width:100%;
        display: block;
        float: none;
        text-align:center;
    }
    .animation-card .our-story-card-text{
        width: 100%;
        text-align: center;
        padding: 0;
        float: none;
        display:block;
    }
    .animation-card .our-story-card-img-container,.animation-card .our-story-card-img{
        float: none;
        width: 100%;
        height: auto;
        border: 0;
        text-align: center;
        display:block;
        margin:0 auto;
        max-width: 600px;
        margin-top: 1em;
        
    }
}
@media only screen and (max-width: 549px) and (min-width: 400px), only screen and (max-width: 399px) and (min-width: 350px), only screen and (max-width: 349px){
    .our-story-card-title {
    font-size: 1.625rem;
    }
}




